:root {
    --burgundy: #472D30;
    --catawba: #723D46;
    --terracotta: #E26D5C;
    --peach: #FFE1A8;
    --sage: #C9CBA3;
}
* {
    user-select: none;
    overflow: hidden !important;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
p{
    color: var(--catawba);
}
#info{  
    font-size: max(5vw, 35px);
    position: fixed;
    top: 40vh;
    left: 20vw;
    transition: 2.5s;
}
#author{  
    font-size: max(4vw, 40px);
    position: fixed;
    top: 2vh;
    left: 2vw;
}
#author i{
    position: relative;
    top: 0.35vw;
}
body{
    background-color: var(--burgundy);
}
main{
    height: 75vh;
}
footer{
    height: 15vh;
    padding: 10vh 3vh 0vh 0vw;
}
a{
    color: var(--catawba);
    float: right;
    transition: 2.5s;
}
a:hover{
    color: var(--peach);
}
i:not(#info i, #author i){
    font-size: max(8vh, 45px);
}