:root {
    --burgundy: #472D30;
    --catawba: #723D46;
    --terracotta: #E26D5C;
    --peach: #FFE1A8;
    --sage: #C9CBA3;
}

* {
    user-select: none;
    overflow: hidden !important;
    font-family: 'Merriweather', serif;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer;
}
p{
    color: var(--catawba);
}

#info{  
    font-size: max(5vw, 35px);
    position: fixed;
    top: 5%;
    left: 5%;
    transition: 2.5s;
}
#author{  
    font-size: max(3vw, 35px);
    position: fixed;
    top: 2%;
    left: 80%;
}
body{
    background-color: var(--burgundy);
}
main{
    height: 87vh;
}
footer{
    height: 13vh;
    margin-right: 5vw;
}
a{
    color: var(--catawba);
    float: right;
    transition: 2.5s;
}
a:hover{
    color: var(--peach);
}
i:not(#info i){
    font-size: max(3vh, 45px);
}